@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
	}
body{
	background-color:#f0f0f0;
}
header{
	font-size:30px;
	text-align:center;
	padding-top:30px;
}
main{
	padding-top:50px;
	text-align:center;
	height:500px;
}
div{
	height:20%;
}
h5{
	margin:20px auto;
	font-size:20px;
}